.pg2-header{
    text-align: center;
    margin-bottom: 80px;
    margin-top: 40px;
}

.second-pg-img{
    width:20%;
    margin-top:20%;
    margin-bottom:20%;
}
.card-header{
    text-align: center;
}
.pricing-column{
    width: 23%;
    margin: auto;
}
